<%= form_for(@donate) do |f| %>
  <% if @donate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@donate.errors.count, "error") %> prohibited this donate from being saved:</h2>

      <ul>
      <% @donate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
