body{
  color:#464646;
  background:#999;
  font-family:"Open Sans", "Helvetica Neue", sans-serif;
  font-size:12px;
  line-height:18px;
  margin:0px;
  padding:0px;
  border:0px;
}

h1{
  font-size:40px;
  line-height:40px;
  margin-top:10px;
  margin-bottom:20px;
}

h2{
  font-size:20px;
  line-height:20px;
  margin-top:20px;
  margin-bottom:20px;
}

h3{
  font-size:17px;
  line-height:17px;
  font-weight:normal;
  margin-top:17px;
  margin-bottom:17px;
}

h4{
  font-size:15px;
  line-height:15px;
  margin-top:15px;
  margin-bottom:15px;
}

h5{
  font-size:14px;
  line-height:14px;
  margin-top:14px;
  margin-bottom:14px;
}

h3 a, h3 a:hover{
  color:#3eabc0;
}

hr{
  background:#ddd;
  height:1px;
  border:0px;
  margin-top:20px;
  margin-bottom:20px;
}

b, strong{
  font-weight:bold;
}

i, em{
  font-style:italic;
}

li{
  font-size:13px;
  line-height:23px;
  font-weight:bold;
}

li ul li a, li ul li a:hover {
  color:#777;
  border-color:#777;
}

table, th, td{
 margin:0px;
 padding:0px;
 border:0px;
 font-size:13px;
}

a{
  color:#75b4c0;
  text-decoration:none;
  font-weight:bold;
}

a:hover{
  color:#75b4c0;
  text-decoration:none;
  border-bottom: 1px dotted #75b4c0;
}

h1 a, h1 a:hover{
  padding-top:100px;
  border:0px;
  display:block;
}

h2 a, h3 a, h2 a:hover, h3 a:hover {
  padding-top:50px;
  border:0px;
  display:block;
}

::selection{
  color:#fff;
  background:#75b4c0;
}
::-moz-selection{
  color:#fff;
  background:#75b4c0;
}

#container{
  position:relative;
  width:800px;
  margin:20px auto;
  display:block;
  background:#fafafa;
  padding:30px 50px;
  border:1px solid #f2f2f2;
  border-radius:10px;
  -moz-box-shadow: 0 2px 5px #ddd;
  -webkit-box-shadow: 0 2px 5px #ddd;
  box-shadow: 0 2px 5px #ddd;
  overflow:hidden;
}  

#trace-logo{
  position:absolute;
  left:50px;
  top:40px;
}

.back-to-top{
  font-size:13px;
  line-height:13px;
  color:#fff;
  background:#666;
  border-radius:6px;
  padding:14px;
  width:120px;
  text-align:center;
  margin:40px auto;
  font-weight:bold;
}

.back-to-top:hover{
  background:#555;
}

.back-to-top:hover span{
  border-bottom:1px dotted #fff;
}

.t2{
  background:#ddd;
  color:#444;
}

.t2:hover{
  background:#c8c8c8;
  border-color:#555;
}

.t2:hover span{
  border-color:#555;
}

.empty-space{
  height:100px;
  display:block;
}

.bottom-text{
  color:#75b4c0;
  text-align:center;
}

#copyright{
  font-size:11px;
  font-weight:bold;
  text-align:center;
}

  #footer{
    color:#999;
}

.gradient-1{
	margin-top: 25px;
	  background: url(/app/assets/images/gradient-1.png) repeat-x;	
	    background-image: url(/app/assets/images/gradient-1.png);
	    background-repeat-x: repeat;
	    background-repeat-y: no-repeat;
	    background-attachment: initial;
	    background-position-x: initial;
	    background-position-y: initial;
	    background-origin: initial;
	    background-clip: initial;
	    background-color: initial;
}

.gradient-2{
	margin-top: 45px;
	  background: url(/app/assets/images/gradient-2.png) repeat-x #EDF0F1;
	    background-image: url(/app/assets/images/gradient-2.png);
	    background-repeat-x: repeat;
	    background-repeat-y: no-repeat;
	    background-attachment: initial;
	    background-position-x: initial;
	    background-position-y: initial;
	    background-origin: initial;
	    background-clip: initial;
	    background-color: #EDF0F1;
	padding-bottom: 40px;
}


.gradient-3{
	background: url(/app/assets/images/gradient-3.png) center top no-repeat #EDF0F1;
	  background-image: url(/app/assets/images/gradient-3.png);
	  background-repeat-x: no-repeat;
	  background-repeat-y: no-repeat;
	  background-attachment: initial;
	  background-position-x: 50%;
	  background-position-y: 0%;
	  background-origin: initial;
	  background-clip: initial;
	  background-color: #EDF0F1;
	padding-bottom:70px;
}

#bottom-1{
	background:#282929;
	font-size: 13px;
	padding-top: 40px;
	padding-bottom: 40px;
}

#bottom-2{
	background:#222323;
	font-size: 11px;
	padding-top: 23px;
	padding-bottom: 20px;
}

.navbar{
	padding-top: 0px;
	margin-bottom: 30px;
	font-family: "Open Sans", "Helvetica Neue", sans-serif;
}

.m-tb-50 {
    margin-top: 50px;
	margin-bottom: 50px;
}

/*.hr {
	background: none;
	  border: none;
	  border-top-style: none;
	  border-right-style: none;
	  border-bottom-style: none;
	  border-left-style: none;
	  border-width: initial;
	  border-color: initial;
	  height: 1px;
	  background: #EEE;
	  background-image: initial;
	  background-repeat-x: initial;
	  background-repeat-y: initial;
	  background-attachment: initial;
	  background-position-x: initial;
	  background-position-y: initial;
	  background-origin: initial;
	  background-clip: initial;
	  background-color: #EEE;

	color: #EEE;
	  margin: 0px;
	  margin-top: 0px;
	  margin-right: 0px;
	  margin-bottom: 0px;
	  margin-left: 0px;
	  padding: 0px;
	  padding-top: 0px;
	  padding-right: 0px;
	  padding-bottom: 0px;
	  padding-left: 0px;
}*/

.hr_t {
    background: #EBEBEB;
	  background-image: initial;
	  background-repeat-x: initial;
	  background-repeat-y: initial;
	  background-attachment: initial;
	  background-position-x: initial;
	  background-position-y: initial;
	  background-origin: initial;
	  background-clip: initial;
	  background-color: #EBEBEB;
	margin: 4px 0px 25px 0px;
	  margin-top: 4px;
	  margin-right: 0px;
	  margin-bottom: 25px;
	  margin-left: 0px;
}

.row {
	padding-top:20px;
}

#jobs-left {
	float:left;
	text-align:left;
	width:50%;
	overflow:hidden;
	position:relative;
	
	/*vertical-align:top;*/
}

#jobs-right{
	float:left;
	text-align:left;
	width:50%;
	overflow:hidden;
	position:relative;
	/*vertical-align:top;*/
}

#jobs-table{
	width:100%;
}

#volunteers{
	font-size:16px;
}

.press-image1,
.press-image2,
.press-image3,
.press-image4
{
	/*width:150px;*/
	height:300px;
	width:25%;
	float:left;
	padding:10px;
	position:relative;
}

.press-table{
	width:100%;
	height:600px;
	padding-bottom:30px
	
}

.social-icons-img{
	width:30px;
	height:30px;
	padding:5px;
	position:relative;
}

.social-icons{
	width:200px;
	float:right;
	height:50px;
}



