// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

  form.new_user {
     padding-left: 20px;
   }
   
   h2 {
     padding-left: 20px;
   }
     

  div.signup, div.signin {
    padding-left: 40px;
  }
