<!DOCTYPE html>

  <!-- Header End-->

  <!-- Content -->
  <div id="content">

    <div class="gr_1">
      <div class="container"> 
        <div class="row">
          <div class="span12">
            <!-- Page Title -->
            <h1>Portfolio</h1>
            <hr>
              <!-- Page Subtitle -->
              <h2>We’re committed to finding creative solutions for our clients and creating beautiful interfaces along the way.</h2>
            <hr>
          </div>
        </div>  
      </div> 
    </div>

    <div class="container"> 
      <div class="row">
        <div class="span12">
    
      		<!-- portfolio filter -->		
      		<ul id="portfolio-filter">
      			<li class="active"><a href="#" class="filter" data-filter="*">All</a></li>
      			<li><a href="#" class="filter" data-filter=".hr">Human Resource</a></li>
            <li><a href="#" class="filter" data-filter=".marketing">Marketing</a></li>
      			<li><a href="#" class="filter" data-filter=".ls">Leadership</a></li>
            <li><a href="#" class="filter" data-filter=".innovation">Innovations</a></li>
      		</ul>
    
        </div>
      </div>  
    </div> 
    
    <div class="gr_2 mt-0">
      <div class="container"> 
         
    		<!-- portfolio items -->		
    		<section class="row m-tb-50" id="portfolio-items">
          <ul class="portfolio">
          
            <li>
              <article class="span4 project" data-tags="ls,marketing">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/01.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="hr,ls">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/02.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/03.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="marketing,hr,innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/04.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="ls,marketing">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/05.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="hr,ls">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/06.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/07.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="marketing,hr,innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/08.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="ls,marketing">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/09.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
              </article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="hr,ls">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/10.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/11.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
            
            <li>
              <article class="span4 project" data-tags="marketing,hr,innovation">
        				<div class="thumbnail">
        					<a href="portfolio-detail.html" title="">
                    <img src="img/portfolio/12.jpg" alt="">
                    <div class="overlay">
                      <div class=" overlay-content">
                       <div class="title">Business workflow<br>for year 2012</div>
                       <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                      </div>
                    </div>
                  </a>
        				</div>
        			</article>
            </li>
                
          </ul>
    		</section>
    
      </div>  
    </div> 

  </div>  
  <!-- End Content -->

  <!-- Partners -->
  <div class="gradient-3"> 
    <div class="container">
      <div class="row">
        <div class="partners-title">
           OUR PARTNERS
        </div>
      </div>
      <div class="row partners">
        <div class="span2 center">
          <a href="#" rel="external"><img src="img/partners/logo-1.png" alt=""></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><img src="img/partners/logo-2.png" alt=""></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><img src="img/partners/logo-3.png" alt=""></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><img src="img/partners/logo-4.png" alt=""></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><img src="img/partners/logo-5.png" alt=""></a>
        </div>
        <div class="span2 center">
          <a href="#" rel="external"><img src="img/partners/logo-6.png" alt=""></a>
        </div>
      </div>   
    </div>
  </div>
  <!-- End Partners -->

  <!-- Footer -->
  <footer id="footer">
    <div id="bottom-1">
      <div class="container">   
        <div class="row">
          <div class="span4">
            <div class="footer-title">ABOUT US</div>
              Sed ut perspiciatis unde omnis es nakalamatus error sit, totam rem aperiam, eaque ipsa  sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
              <br><br>
              quisquam est, eius modilach temporazarata incidunt, eaque ipsa. Nemo enim.
              <br><br>
              <a href="#" class="blue">Read more »</a>
          </div>
          <div class="span4">
            <!-- Sections -->
            <div class="footer-title">SECTIONS</div>
              <a href="#">» Quis nostrud exercitation ullamco</a><br><br>
              <a href="#">» Duis aute irure dolor nul cilluml</a><br><br>
              <a href="#">» Consectetur adipising elit eu fugiat on</a><br><br>
              <a href="#">» Amet, consectetur adipisicing elited</a><br><br>
              <a href="#">» Perspiciatis unde omni onsequat</a><br><br>
              <a href="#">» modilach temporazara incidunt eaq</a>
          </div>
          <div class="span4">
            <!-- Get Social -->
            <div class="footer-title">GET SOCIAL</div>
    					<p>  
                <a href="http://www.facebook.com" rel="external" class="social-network facebook"></a>
    						<a href="http://www.twitter.com" rel="external" class="social-network twitter"></a>
                <a href="http://www.dribbble.com" rel="external" class="social-network dribbble"></a>
    						<a href="http://www.pinterest.com" rel="external" class="social-network pinterest"></a>
    						<a href="http://www.deviantart.com" rel="external" class="social-network deviantart"></a>
                <a href="http://www.lastfm.com" rel="external" class="social-network lastfm"></a>
    					</p>
            <!-- Newsletter -->
            <div class="footer-title">NEWSLETTER</div>
            <div class="newsletter-container">
              <img class="ajax-loader" src="img/ajax-loader.gif" alt="">
              <form method="post" id="newsletter-f">             
                <input type="text" name="newsletter" placeholder="Your e-mail address">
                <button type="submit" id="newsletter-subscribe" class="icon-ok"></button>
                <input type="hidden" name="robot">
              </form>
            </div>
            Unatus error sit voluptatem accusantium explicabo. Nemo enim lum dolore eu fug ipsam voluptatem quia
          </div>
      </div>
    </div> 
  </div>
  
  <!-- Copyright Row -->      
  <div id="bottom-2">
    <div class="container">   
      <div class="row">
        <div class="span1">    
          <a href="#"><img src="img/logo-footer.png" title="" alt=""></a>
        </div>
        <div class="span7">
          Glasgow, United Kingdom<br>
          E-mail: <a href="mailto:mail@tracedomain.com" class="blue" rel="external">mail@tracedomain.com</a> | Phone: <span class="blue">1-800-555-1111</span>
        </div>
        <div class="span4 right">
          &copy; 2012 trace. All rights reserved. Designed by <a href="http://www.entiri.com" class="white" rel="external">entiri</a><br>
          <a href="http://graphicriver.net/user/entiri" class="blue" rel="external">http://graphicriver.net/user/entiri</a>
        </div>
      </div>
    </div> 
  </div>
  <!-- End Copyright Row -->
  
  </footer>
  <!-- End Footer -->

  <!-- Javascript -->
  <script type="text/javascript" src="js/jquery-1.8.2.min.js"></script> 
	<script type="text/javascript" src="js/bootstrap.min.js"></script>  
	<script type="text/javascript" src="js/functions.js"></script>
	<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
  <script type="text/javascript" defer src="js/jquery.flexslider.js"></script>
  
</body>
</html>
  